@{
    ViewBag.Title = "Home Page";
}


<div class="Content">
    <h2>Sharpbooks!</h2>
    <form>
        <fieldset>
            <input type="search" name="Query" />
        </fieldset>
    </form>

</div>