@{
    ViewBag.Title = "Home Page";
}


<div class="Content">
    <h2>Sharpbooks!</h2>
    <form>
        <fieldset>
            <input type="search" name="Search" id="Search" data-bind ="value:searchBox"/>
            <input type="submit" name="submit" data-bind="click: searchClick" />
        </fieldset>
    </form>
    
    <div data-bind='foreach: bookShelfItems' class="bookshelf">
        <div>
            <ul>
                <li data-bind='text: Title'></li>
                <li data-bind='text: type'></li> 
            </ul>
        </div>  
    </div>
    
    <div id ="searchResults">
        <ul data-bind="foreach: searchResults">
            <li>
                <div class="bookSearchItem">
                    <span data-bind="text: Title"> </span>
                    <img data-bind="attr: { src: ImgURI , title: imageTitle}," />
                    
                    <button data-bind="click: $root.addToBookShelf">Add to BookShelf</button>
                       
                    
                    <!--<a href="#" data-bind="click: $"></a>-->
                </div>
                <!--button for add-->
            </li>
        </ul>
    </div>
    <div id ="bookShelf">
        hey
    </div>
</div>