@{
    ViewBag.Title = "Home Page";
}


<div class="Content">
    <h2>Sharpbooks!</h2>
    <form>
        <fieldset>
            <input type="search" name="Search" id="Search" data-bind="value:searchBox" />
            <input type="submit" name="submit" data-bind="click: searchClick" />
        </fieldset>
    </form>

    <div data-bind='foreach: bookShelfItems' class="bookshelf">
        <div>
            <ul>
                <li data-bind='text: Title'></li>
            </ul>
        </div>
    </div>

    <div id="bookListWrapper">
        <ul data-bind="foreach: searchResults" class="searchResults">
            <li>
                <div class="bookSearchItem" data-bind="click: $root.moreInfo,">
                    <div class="bookTitle">
                        <span data-bind="text: Title"> </span>
                    </div>
                    <div class="bookImage" data-bind ="visible: detailsVisible">
                        <img data-bind="attr: { src: ImgURI , title: Title}" />
                        <div>
                            <span>Written By: </span>
                            <span data-bind="text: Author"></span>
                            
                        </div>
                    </div>


                    <!--<a href="#" data-bind="click: $"></a>-->
                </div>
                <!--button for add-->
            </li>
        </ul>
    </div>
</div>