@{
    ViewBag.Title = "Home Page";
}


<div class="Content">
    <h2>Sharpbooks!</h2>
    <form>
        <fieldset>
            <input type="search" name="Search" id="Search" />
            <input type="submit" name="submit" data-bind="click: searchClick" />
        </fieldset>
    </form>
    
    @*<div data-bind='foreach: bookshelfitems' class="bookshelf">
        <div>
            <ul>
                <li data-bind='text: Title'></li> 
            </ul>
        </div>  
    </div>*@
    
    <div>
        <ul data-bind="foreach: searchResults">
            <li>
                <div class="bookSearchItem">
                    <span data-bind="text: Title"> </span>
                    <!--<a href="#" data-bind="click: $"></a>-->
                </div>
                <!--button for add-->
            </li>
        </ul>
    </div>
</div>