@{
    ViewBag.Title = "Home Page";
}


<div class="Content">
    <h2>Sharpbooks!</h2>
    <form>
        <fieldset>
            <input type="search" name="Search" id="Search" />
            <input type="submit" name="submit" id="submitBookSearch" />
        </fieldset>
       
    </form>
    <div id="results">
        <ul></ul>
    </div>
</div>